<!DOCTYPE html>
<html>
<body bgcolor='orange'>
<center>
<h2>Heart Disease Prediction</h2>

<form action="/result" method="POST">
  <label >Age:</label><br>
  <input type="text" name="age" ><br>
  <label>CP:</label><br>
  <input type="text" name="cp" ><br><br>
  <label>Trestbps:</label><br>
  <input type="text"  name="trestbps"><br><br>
  <label>Chol:</label><br>
  <input type="text"  name="chol" ><br><br>
  <label >Fbs</label><br>
  <input type="text"  name="fbs"><br><br>
  <label >Gender :</label>
    <select  name="Gender">
      <option value="1">Female</option>
      <option value="0">Male</option>
      
    </select>
    <br><br>
  <label >Geography :</label>
  <select  name="Geography">
      <option value="0">France</option>
      <option value="1">Spain</option>
      
    </select>
<br><br>
  <label >Restecg:</label><br>
  <input type="text"  name="restecg" ><br><br>
  <label >Thalach:</label><br>
  <input type="text"  name="thalach" ><br><br>
  <label >Exang:</label><br>
  <input type="text"  name="exang" ><br><br>
  <label >Oldpeak:</label><br>
  <input type="text" name="oldpeak" ><br><br>
  <label >Slope:</label><br>
  <input type="text"  name="slope"><br><br>
  <label >Ca:</label><br>
  <input type="text"  name="Ca"><br><br>
  <label >Thal:</label><br>
  <input type="text"  name="thal"><br><br>

  <input type="submit" value="Predict">
</form> 
  </center>
</body>
</html>
